# Version Control
.git
.gitignore

# Go Build Artifacts
bin/
obj/
*.test
*.out
*.exe
*.log

# Project Specific Persistent Data
gateway.db
gateway.db-journal
gateway.db-wal
# gateway.key - Commented out to include in build context
gateway.log*

# IDE & OS Noise
.vscode/
.idea/
.DS_Store
*.swp
*.bak

# Docker
Dockerfile
.dockerignore

# Test Data
core/router_test.go
core/sse_test.go
core/adapter/*_test.go